:host {
  display: block;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 12px;

  &:hover {
    border-color: var(--border-color-hover);
  }
}

.title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
